.version._404 /* version checker */
{
	color: #000004;
	background-color: #09CF74;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 680px;
	min-height: 349.7959183673472px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 140px 135px 153.2040816326528px;
}

#pu3814
{
	width: 0.01px;
	margin-left: 280px;
}

#u3814
{
	z-index: 2;
	width: 110px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3817
{
	z-index: 4;
	width: 59px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 61px;
}

#u3830-4
{
	z-index: 10;
	width: 330px;
	min-height: 34px;
	background-color: transparent;
	color: #201F35;
	line-height: 101px;
	text-align: center;
	font-size: 84px;
	font-family: museo-sans, sans-serif;
	font-weight: 900;
	margin-left: 175px;
	margin-top: 59px;
	position: relative;
}

#u3828-4
{
	z-index: 6;
	width: 680px;
	min-height: 70px;
	background-color: transparent;
	color: #201F35;
	line-height: 34px;
	text-align: center;
	font-size: 28px;
	font-family: museo-sans, sans-serif;
	font-weight: 100;
	margin-top: 10px;
	position: relative;
}

.html
{
	background-color: #F2A83A;
	background: -webkit-gradient(linear, left center, right center, from(#F2A83A),color-stop(100%, #F4BF0E));
	background: -webkit-linear-gradient(left,#F2A83A ,#F4BF0E 100%);
	background: linear-gradient(to right,#F2A83A ,#F4BF0E 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF2A83A, endColorstr=#FFF4BF0E, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF2A83A', endColorstr='#FFF4BF0E', GradientType=1)";
}

body
{
	position: relative;
	min-width: 950px;
}

