.version.cinayet /* version checker */
{
	color: #0000EF;
	background-color: #3553D7;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 950px;
	min-height: 1417px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 7px;
	padding-bottom: 98px;
	width: 0.01px;/* should not cover content below */
}

#pu2815
{
	width: 0.01px;
	margin-left: -228px;
}

#u2815
{
	z-index: 3;
	width: 100px;
	min-height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#buttonu2816
{
	z-index: 2;
	width: 39px;
	height: 50px;
	border-color: #787878;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 228px;
	background: transparent url("../images/normal-iebuttonu2313-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/normal.png") no-repeat center center;
	background-color: transparent;
	background-size: contain;
}

#buttonu2816:hover
{
	width: 39px;
	height: 50px;
	min-height: 0px;
	margin: 20px -10000px 0px 0px;
	background: transparent url("../images/hover-iebuttonu2313-r-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/hover.png") no-repeat center center;
	background-color: transparent;
	background-size: contain;
}

#buttonu2816:active
{
	width: 39px;
	height: 50px;
	min-height: 0px;
	margin: 20px -10000px 0px 0px;
	background: transparent url("../images/click-iebuttonu2313-m-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/click.png") no-repeat center center;
	background-color: transparent;
	background-size: contain;
}

.hidpi #buttonu2816
{
	background-image: url("../images/normal_2x.png");
}

.hidpi #buttonu2816:hover
{
	background-image: url("../images/hover_2x.png");
}

.hidpi #buttonu2816:active
{
	background-image: url("../images/click_2x.png");
}

#u2817-5
{
	z-index: 4;
	width: 630px;
	min-height: 36px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 41px;
	text-align: center;
	font-size: 34px;
	font-family: museo-sans, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 388px;
}

#u2817
{
	font-size: 34px;
}

#u2817-2
{
	font-size: 34px;
	font-family: museo-sans, sans-serif;
	font-weight: 100;
}

#u2829
{
	z-index: 11;
	width: 950px;
	-pie-box-shadow: none;
	box-shadow: 0px 8px 8px rgba(0,0,0,0.1);
	background-color: transparent;
	border-radius: 10px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u2823
{
	z-index: 9;
	width: 950px;
	-pie-box-shadow: none;
	box-shadow: 0px 8px 8px rgba(0,0,0,0.1);
	background-color: transparent;
	border-radius: 10px;
	margin-top: 31px;
	position: relative;
}

#u2829 .clip_frame,#u2823 .clip_frame
{
	-webkit-border-radius: 10px 10px 10px 10px;
}

.html
{
	background-color: #F2A83A;
	background: -webkit-gradient(linear, left center, right center, from(#F2A83A),color-stop(100%, #F4BF0E));
	background: -webkit-linear-gradient(left,#F2A83A ,#F4BF0E 100%);
	background: linear-gradient(to right,#F2A83A ,#F4BF0E 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF2A83A, endColorstr=#FFF4BF0E, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF2A83A', endColorstr='#FFF4BF0E', GradientType=1)";
}

body
{
	position: relative;
	min-width: 950px;
}

