.version.follow /* version checker */
{
	color: #00001C;
	background-color: #72FC87;
}

.html
{
	background-color: #F2A83A;
	background: -webkit-gradient(linear, left center, right center, from(#F2A83A),color-stop(100%, #F4BF0E));
	background: -webkit-linear-gradient(left,#F2A83A ,#F4BF0E 100%);
	background: linear-gradient(to right,#F2A83A ,#F4BF0E 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF2A83A, endColorstr=#FFF4BF0E, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF2A83A', endColorstr='#FFF4BF0E', GradientType=1)";
}

#page
{
	z-index: 1;
	width: 950px;
	min-height: 612px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 7px;
	padding-bottom: 172px;
	width: 0.01px;
}

#pu3676
{
	width: 0.01px;
	margin-left: -228px;
}

#u3676
{
	z-index: 3;
	width: 100px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#buttonu3678
{
	z-index: 2;
	width: 39px;
	height: 50px;
	border-color: #787878;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 228px;
	background: transparent url("../images/normal-iebuttonu2313-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/normal.png") no-repeat center center;
	background-color: transparent;
	background-size: contain;
}

#buttonu3678:hover
{
	width: 39px;
	height: 50px;
	min-height: 0px;
	margin: 20px -10000px 0px 0px;
	background: transparent url("../images/hover-iebuttonu2313-r-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/hover.png") no-repeat center center;
	background-color: transparent;
	background-size: contain;
}

#buttonu3678:active
{
	width: 39px;
	height: 50px;
	min-height: 0px;
	margin: 20px -10000px 0px 0px;
	background: transparent url("../images/click-iebuttonu2313-m-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/click.png") no-repeat center center;
	background-color: transparent;
	background-size: contain;
}

.hidpi #buttonu3678
{
	background-image: url("../images/normal_2x.png");
}

.hidpi #buttonu3678:hover
{
	background-image: url("../images/hover_2x.png");
}

.hidpi #buttonu3678:active
{
	background-image: url("../images/click_2x.png");
}

#u3677-5
{
	z-index: 4;
	width: 630px;
	min-height: 36px;
	background-color: transparent;
	line-height: 41px;
	color: #FFFFFF;
	text-align: center;
	font-size: 34px;
	font-family: museo-sans, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 388px;
}

#u3677
{
	font-size: 34px;
}

#u3677-2
{
	font-size: 34px;
	font-family: museo-sans, sans-serif;
	font-weight: 100;
}

#u3690
{
	z-index: 9;
	width: 268px;
	-pie-box-shadow: none;
	box-shadow: 0px 8px 8px rgba(0,0,0,0.1);
	background-color: transparent;
	border-radius: 10px;
	margin-left: 341px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u3690 .clip_frame
{
	-webkit-border-radius: 10px 10px 10px 10px;
}

#u3694
{
	z-index: 11;
	width: 950px;
	-pie-box-shadow: 0px 8px 8px #E5E5E5;
	box-shadow: 0px 8px 8px rgba(0,0,0,0.1);
	background-color: #720DE5;
	border-radius: 10px;
	padding-bottom: 26px;
	margin-top: 49px;
	position: relative;
}

#u3695
{
	z-index: 12;
	width: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 75px;
}

#u3701
{
	z-index: 14;
	width: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 375px;
}

#u3707
{
	z-index: 16;
	width: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 690px;
}

body
{
	position: relative;
	min-width: 950px;
}

#page .verticalspacer
{
	clear: both;
}

