.version.last_sunset /* version checker */
{
	color: #000001;
	background-color: #31A51A;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 950px;
	min-height: 733px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u2684
{
	z-index: 4;
	width: 100px;
	min-height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: -228px;
}

#ppbuttonu2682
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 27px;
}

#pbuttonu2682
{
	width: 0.01px;
}

#buttonu2682
{
	z-index: 2;
	width: 39px;
	height: 50px;
	border-color: #787878;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/normal-iebuttonu2313-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/normal.png") no-repeat center center;
	background-color: transparent;
	background-size: contain;
}

#buttonu2682:hover
{
	width: 39px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/hover-iebuttonu2313-r-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/hover.png") no-repeat center center;
	background-color: transparent;
	background-size: contain;
}

#buttonu2682:active
{
	width: 39px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/click-iebuttonu2313-m-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/click.png") no-repeat center center;
	background-color: transparent;
	background-size: contain;
}

.hidpi #buttonu2682
{
	background-image: url("../images/normal_2x.png");
}

.hidpi #buttonu2682:hover
{
	background-image: url("../images/hover_2x.png");
}

.hidpi #buttonu2682:active
{
	background-image: url("../images/click_2x.png");
}

#u2687-5
{
	z-index: 5;
	width: 630px;
	min-height: 36px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 34px;
	line-height: 41px;
	font-family: museo-sans, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 160px;
}

#u2687
{
	font-size: 34px;
}

#u2687-2
{
	font-size: 34px;
	font-family: museo-sans, sans-serif;
	font-weight: 100;
}

#buttonu2683
{
	z-index: 3;
	width: 60px;
	height: 50px;
	border-color: #787878;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 890px;
	background: transparent url("../images/12.png") no-repeat center center;
	background-size: contain;
}

#buttonu2683:hover
{
	width: 60px;
	height: 50px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
	background: transparent url("../images/22.png") no-repeat center center;
	background-size: contain;
}

#buttonu2683:active
{
	width: 60px;
	height: 50px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
	background: transparent url("../images/32.png") no-repeat center center;
	background-size: contain;
}

#buttonu2683.ButtonSelected
{
	width: 60px;
	height: 50px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
	background: transparent url("../images/12.png") no-repeat center center;
	background-size: contain;
}

.hidpi #buttonu2683:hover
{
	background-image: url("../images/2_2x2.png");
}

.hidpi #buttonu2683:active
{
	background-image: url("../images/3_2x2.png");
}

.hidpi #buttonu2683,.hidpi #buttonu2683.ButtonSelected
{
	background-image: url("../images/1_2x2.png");
}

#u2699
{
	z-index: 10;
	width: 950px;
	-pie-box-shadow: none;
	box-shadow: 0px 8px 8px rgba(0,0,0,0.1);
	background-color: transparent;
	border-radius: 10px;
	margin-top: 19px;
	position: relative;
}

#u2699 .clip_frame
{
	-webkit-border-radius: 10px 10px 10px 10px;
}

.html
{
	background-color: #F2A83A;
	background: -webkit-gradient(linear, center top, center bottom, from(#F2A83A),color-stop(100%, #F4BF0E));
	background: -webkit-linear-gradient(top,#F2A83A ,#F4BF0E 100%);
	background: linear-gradient(to bottom,#F2A83A ,#F4BF0E 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF2A83A, endColorstr=#FFF4BF0E, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF2A83A', endColorstr='#FFF4BF0E', GradientType=0)";
}

body
{
	position: relative;
	min-width: 950px;
}


