.version.padme /* version checker */
{
	color: #000018;
	background-color: #A3A019;
}

.html
{
	background-color: #F2A83A;
	background: -webkit-gradient(linear, left center, right center, from(#F2A83A),color-stop(100%, #F4BF0E));
	background: -webkit-linear-gradient(left,#F2A83A ,#F4BF0E 100%);
	background: linear-gradient(to right,#F2A83A ,#F4BF0E 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF2A83A, endColorstr=#FFF4BF0E, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF2A83A', endColorstr='#FFF4BF0E', GradientType=1)";
}

#page
{
	z-index: 1;
	width: 950px;
	min-height: 733px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u2903
{
	z-index: 4;
	width: 100px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: -228px;
}

#ppbuttonu2904
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 27px;
}

#pbuttonu2904
{
	width: 0.01px;
}

#buttonu2904
{
	z-index: 2;
	width: 39px;
	height: 50px;
	border-color: #787878;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/normal-iebuttonu2313-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/normal.png") no-repeat center center;
	background-color: transparent;
	background-size: contain;
}

#buttonu2904:hover
{
	width: 39px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/hover-iebuttonu2313-r-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/hover.png") no-repeat center center;
	background-color: transparent;
	background-size: contain;
}

#buttonu2904:active
{
	width: 39px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/click-iebuttonu2313-m-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/click.png") no-repeat center center;
	background-color: transparent;
	background-size: contain;
}

.hidpi #buttonu2904
{
	background-image: url("../images/normal_2x.png");
}

.hidpi #buttonu2904:hover
{
	background-image: url("../images/hover_2x.png");
}

.hidpi #buttonu2904:active
{
	background-image: url("../images/click_2x.png");
}

#u2905-5
{
	z-index: 5;
	width: 630px;
	min-height: 36px;
	background-color: transparent;
	line-height: 41px;
	color: #FFFFFF;
	text-align: center;
	font-size: 34px;
	font-family: museo-sans, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 160px;
}

#u2905
{
	font-size: 34px;
}

#u2905-2
{
	font-size: 34px;
	font-family: museo-sans, sans-serif;
	font-weight: 100;
}

#buttonu2910
{
	z-index: 3;
	width: 59px;
	height: 50px;
	border-color: #787878;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 891px;
	background: transparent url("../images/13.png") no-repeat center center;
	background-size: contain;
}

#buttonu2910:hover
{
	width: 59px;
	height: 50px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
	background: transparent url("../images/23.png") no-repeat center center;
	background-size: contain;
}

#buttonu2910:active
{
	width: 59px;
	height: 50px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
	background: transparent url("../images/33.png") no-repeat center center;
	background-size: contain;
}

#buttonu2910.ButtonSelected
{
	width: 59px;
	height: 50px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
	background: transparent url("../images/13.png") no-repeat center center;
	background-size: contain;
}

.hidpi #buttonu2910:hover
{
	background-image: url("../images/2_2x3.png");
}

.hidpi #buttonu2910:active
{
	background-image: url("../images/3_2x3.png");
}

.hidpi #buttonu2910,.hidpi #buttonu2910.ButtonSelected
{
	background-image: url("../images/1_2x3.png");
}

#u2915
{
	z-index: 10;
	width: 950px;
	-pie-box-shadow: none;
	box-shadow: 0px 8px 8px rgba(0,0,0,0.1);
	background-color: transparent;
	border-radius: 10px;
	margin-top: 19px;
	position: relative;
}

#u2915 .clip_frame
{
	-webkit-border-radius: 10px 10px 10px 10px;
}

body
{
	position: relative;
	min-width: 950px;
}

#page .verticalspacer
{
	clear: both;
}

