.version.sins /* version checker */
{
	color: #0000F6;
	background-color: #495C51;
}

.html
{
	background-color: #F2A83A;
	background: -webkit-gradient(linear, left center, right center, from(#F2A83A),color-stop(100%, #F7CE16));
	background: -webkit-linear-gradient(left,#F2A83A ,#F7CE16 100%);
	background: linear-gradient(to right,#F2A83A ,#F7CE16 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF2A83A, endColorstr=#FFF7CE16, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF2A83A', endColorstr='#FFF7CE16', GradientType=1)";
}

#page
{
	z-index: 1;
	width: 950px;
	min-height: 2037px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 7px;
	padding-bottom: 95px;
	width: 0.01px;
}

#pu3501
{
	width: 0.01px;
	margin-left: -228px;
}

#u3501
{
	z-index: 4;
	width: 100px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#buttonu3497
{
	z-index: 2;
	width: 39px;
	height: 50px;
	border-color: #787878;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 228px;
	background: transparent url("../images/normal-iebuttonu2313-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/normal.png") no-repeat center center;
	background-color: transparent;
	background-size: contain;
}

#buttonu3497:hover
{
	width: 39px;
	height: 50px;
	min-height: 0px;
	margin: 20px -10000px 0px 0px;
	background: transparent url("../images/hover-iebuttonu2313-r-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/hover.png") no-repeat center center;
	background-color: transparent;
	background-size: contain;
}

#buttonu3497:active
{
	width: 39px;
	height: 50px;
	min-height: 0px;
	margin: 20px -10000px 0px 0px;
	background: transparent url("../images/click-iebuttonu2313-m-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/click.png") no-repeat center center;
	background-color: transparent;
	background-size: contain;
}

.hidpi #buttonu3497
{
	background-image: url("../images/normal_2x.png");
}

.hidpi #buttonu3497:hover
{
	background-image: url("../images/hover_2x.png");
}

.hidpi #buttonu3497:active
{
	background-image: url("../images/click_2x.png");
}

#u3498-5
{
	z-index: 5;
	width: 630px;
	min-height: 36px;
	background-color: transparent;
	line-height: 41px;
	color: #FFFFFF;
	text-align: center;
	font-size: 34px;
	font-family: museo-sans, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 388px;
}

#u3498
{
	font-size: 34px;
}

#u3498-2
{
	font-size: 34px;
	font-family: museo-sans, sans-serif;
	font-weight: 100;
}

#buttonu3496
{
	z-index: 3;
	width: 59px;
	height: 50px;
	border-color: #787878;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 1119px;
	background: transparent url("../images/13.png") no-repeat center center;
	background-size: contain;
}

#buttonu3496:hover
{
	width: 59px;
	height: 50px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
	background: transparent url("../images/23.png") no-repeat center center;
	background-size: contain;
}

#buttonu3496:active
{
	width: 59px;
	height: 50px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
	background: transparent url("../images/33.png") no-repeat center center;
	background-size: contain;
}

#buttonu3496.ButtonSelected
{
	width: 59px;
	height: 50px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
	background: transparent url("../images/13.png") no-repeat center center;
	background-size: contain;
}

.hidpi #buttonu3496:hover
{
	background-image: url("../images/2_2x3.png");
}

.hidpi #buttonu3496:active
{
	background-image: url("../images/3_2x3.png");
}

.hidpi #buttonu3496,.hidpi #buttonu3496.ButtonSelected
{
	background-image: url("../images/1_2x3.png");
}

#u3513
{
	z-index: 10;
	width: 950px;
	-pie-box-shadow: none;
	box-shadow: 0px 8px 8px rgba(0,0,0,0.1);
	background-color: transparent;
	border-radius: 10px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u3519
{
	z-index: 12;
	width: 950px;
	-pie-box-shadow: none;
	box-shadow: 0px 8px 8px rgba(0,0,0,0.1);
	background-color: transparent;
	border-radius: 10px;
	margin-top: 30px;
	position: relative;
}

#u3525
{
	z-index: 14;
	width: 950px;
	-pie-box-shadow: none;
	box-shadow: 0px 8px 8px rgba(0,0,0,0.1);
	background-color: transparent;
	border-radius: 10px;
	margin-top: 30px;
	position: relative;
}

#u3513 .clip_frame,#u3519 .clip_frame,#u3525 .clip_frame
{
	-webkit-border-radius: 10px 10px 10px 10px;
}

body
{
	position: relative;
	min-width: 950px;
}

#page .verticalspacer
{
	clear: both;
}

