.version.smaug /* version checker */
{
	color: #000004;
	background-color: #039986;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 950px;
	min-height: 2233.7712890625px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 7px;
	padding-bottom: 97px;
	width: 0.01px;/* should not cover content below */
}

#pu3366
{
	width: 0.01px;
	margin-left: -228px;
}

#u3366
{
	z-index: 4;
	width: 100px;
	min-height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#buttonu3368
{
	z-index: 2;
	width: 39px;
	height: 50px;
	border-color: #787878;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 228px;
	background: transparent url("../images/normal-iebuttonu2313-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/normal.png") no-repeat center center;
	background-color: transparent;
	background-size: contain;
}

#buttonu3368:hover
{
	width: 39px;
	height: 50px;
	min-height: 0px;
	margin: 20px -10000px 0px 0px;
	background: transparent url("../images/hover-iebuttonu2313-r-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/hover.png") no-repeat center center;
	background-color: transparent;
	background-size: contain;
}

#buttonu3368:active
{
	width: 39px;
	height: 50px;
	min-height: 0px;
	margin: 20px -10000px 0px 0px;
	background: transparent url("../images/click-iebuttonu2313-m-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/click.png") no-repeat center center;
	background-color: transparent;
	background-size: contain;
}

.hidpi #buttonu3368
{
	background-image: url("../images/normal_2x.png");
}

.hidpi #buttonu3368:hover
{
	background-image: url("../images/hover_2x.png");
}

.hidpi #buttonu3368:active
{
	background-image: url("../images/click_2x.png");
}

#u3367-5
{
	z-index: 5;
	width: 630px;
	min-height: 36px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 34px;
	line-height: 41px;
	font-family: museo-sans, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 388px;
}

#u3367
{
	font-size: 34px;
}

#u3367-2
{
	font-size: 34px;
	font-family: museo-sans, sans-serif;
	font-weight: 100;
}

#buttonu3369
{
	z-index: 3;
	width: 59px;
	height: 50px;
	border-color: #787878;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 1119px;
	background: transparent url("../images/12.png") no-repeat center center;
	background-size: contain;
}

#buttonu3369:hover
{
	width: 59px;
	height: 50px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
	background: transparent url("../images/22.png") no-repeat center center;
	background-size: contain;
}

#buttonu3369:active
{
	width: 59px;
	height: 50px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
	background: transparent url("../images/32.png") no-repeat center center;
	background-size: contain;
}

#buttonu3369.ButtonSelected
{
	width: 59px;
	height: 50px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
	background: transparent url("../images/12.png") no-repeat center center;
	background-size: contain;
}

.hidpi #buttonu3369:hover
{
	background-image: url("../images/2_2x2.png");
}

.hidpi #buttonu3369:active
{
	background-image: url("../images/3_2x2.png");
}

.hidpi #buttonu3369,.hidpi #buttonu3369.ButtonSelected
{
	background-image: url("../images/1_2x2.png");
}

#pu3377
{
	width: 0.01px;
	margin-top: -7px;
}

#u3377
{
	z-index: 10;
	width: 227px;
	-pie-box-shadow: none;
	box-shadow: 0px 8px 8px rgba(0,0,0,0.1);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3382
{
	z-index: 12;
	width: 228px;
	-pie-box-shadow: none;
	box-shadow: 0px 8px 8px rgba(0,0,0,0.1);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 240px;
}

#u3388
{
	z-index: 14;
	width: 228px;
	-pie-box-shadow: none;
	box-shadow: 0px 8px 8px rgba(0,0,0,0.1);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 481px;
}

#u3400
{
	z-index: 16;
	width: 228px;
	-pie-box-shadow: none;
	box-shadow: 0px 8px 8px rgba(0,0,0,0.1);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 722px;
}

#u3406
{
	z-index: 18;
	width: 731px;
	-pie-box-shadow: none;
	box-shadow: 0px 8px 8px rgba(0,0,0,0.1);
	background-color: transparent;
	border-radius: 10px;
	margin-left: 110px;
	margin-top: 30px;
	position: relative;
}

#u3412
{
	z-index: 20;
	width: 950px;
	-pie-box-shadow: none;
	box-shadow: 0px 8px 8px rgba(0,0,0,0.1);
	background-color: transparent;
	border-radius: 10px;
	margin-top: 30px;
	position: relative;
}

#u3406 .clip_frame,#u3412 .clip_frame
{
	-webkit-border-radius: 10px 10px 10px 10px;
}

.html
{
	background-color: #F2A83A;
	background: -webkit-gradient(linear, center top, center bottom, from(#F2A83A),color-stop(100%, #F4BF0E));
	background: -webkit-linear-gradient(top,#F2A83A ,#F4BF0E 100%);
	background: linear-gradient(to bottom,#F2A83A ,#F4BF0E 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF2A83A, endColorstr=#FFF4BF0E, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF2A83A', endColorstr='#FFF4BF0E', GradientType=0)";
}

body
{
	position: relative;
	min-width: 950px;
}

