.version.twitter_app__ui /* version checker */
{
	color: #0000E3;
	background-color: #560938;
}

.html
{
	background-color: #F2A83A;
	background: -webkit-gradient(linear, left center, right center, from(#F2A83A),color-stop(100%, #F7CE16));
	background: -webkit-linear-gradient(left,#F2A83A ,#F7CE16 100%);
	background: linear-gradient(to right,#F2A83A ,#F7CE16 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF2A83A, endColorstr=#FFF7CE16, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF2A83A', endColorstr='#FFF7CE16', GradientType=1)";
}

#page
{
	z-index: 1;
	width: 950px;
	min-height: 791px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 90px;
	margin-left: auto;
	margin-right: auto;
}

#u3946
{
	z-index: 3;
	width: 100px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: -228px;
}

#ppbuttonu3940
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 27px;
}

#pbuttonu3940
{
	width: 0.01px;
}

#buttonu3940
{
	z-index: 2;
	width: 39px;
	height: 50px;
	border-color: #787878;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/normal-iebuttonu3940-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/normal.png") no-repeat center center;
	background-color: transparent;
	background-size: contain;
}

#buttonu3940:hover
{
	width: 39px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/hover-iebuttonu3940-r-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/hover.png") no-repeat center center;
	background-color: transparent;
	background-size: contain;
}

#buttonu3940:active
{
	width: 39px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/click-iebuttonu3940-m-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/click.png") no-repeat center center;
	background-color: transparent;
	background-size: contain;
}

.hidpi #buttonu3940
{
	background-image: url("../images/normal_2x.png");
}

.hidpi #buttonu3940:hover
{
	background-image: url("../images/hover_2x.png");
}

.hidpi #buttonu3940:active
{
	background-image: url("../images/click_2x.png");
}

#u3949-5
{
	z-index: 4;
	width: 630px;
	min-height: 36px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 41px;
	text-align: center;
	font-size: 34px;
	font-family: museo-sans, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 160px;
}

#u3949
{
	font-size: 34px;
}

#u3949-2
{
	font-size: 34px;
	font-family: museo-sans, sans-serif;
	font-weight: 100;
}

#u3956
{
	z-index: 9;
	width: 950px;
	-pie-box-shadow: none;
	box-shadow: 0px 8px 8px rgba(0,0,0,0.1);
	background-color: transparent;
	border-radius: 10px;
	margin-top: 23px;
	position: relative;
}

#u3956 .clip_frame
{
	-webkit-border-radius: 10px 10px 10px 10px;
}

body
{
	position: relative;
	min-width: 950px;
}

#page .verticalspacer
{
	clear: both;
}

