.version.zabit__magazine /* version checker */
{
	color: #0000EC;
	background-color: #18BC1B;
}

.html
{
	background-color: #F2A83A;
	background: -webkit-gradient(linear, left center, right center, from(#F2A83A),color-stop(100%, #F7CE16));
	background: -webkit-linear-gradient(left,#F2A83A ,#F7CE16 100%);
	background: linear-gradient(to right,#F2A83A ,#F7CE16 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF2A83A, endColorstr=#FFF7CE16, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF2A83A', endColorstr='#FFF7CE16', GradientType=1)";
}

#page
{
	z-index: 1;
	width: 950px;
	min-height: 1124px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 88px;
	margin-left: auto;
	margin-right: auto;
}

#u3233
{
	z-index: 3;
	width: 100px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: -228px;
}

#ppbuttonu3231
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 27px;
}

#pbuttonu3231
{
	width: 0.01px;
}

#buttonu3231
{
	z-index: 2;
	width: 39px;
	height: 50px;
	border-color: #787878;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/normal-iebuttonu2313-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/normal.png") no-repeat center center;
	background-color: transparent;
	background-size: contain;
}

#buttonu3231:hover
{
	width: 39px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/hover-iebuttonu2313-r-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/hover.png") no-repeat center center;
	background-color: transparent;
	background-size: contain;
}

#buttonu3231:active
{
	width: 39px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/click-iebuttonu2313-m-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/click.png") no-repeat center center;
	background-color: transparent;
	background-size: contain;
}

.hidpi #buttonu3231
{
	background-image: url("../images/normal_2x.png");
}

.hidpi #buttonu3231:hover
{
	background-image: url("../images/hover_2x.png");
}

.hidpi #buttonu3231:active
{
	background-image: url("../images/click_2x.png");
}

#u3232-5
{
	z-index: 4;
	width: 630px;
	min-height: 36px;
	background-color: transparent;
	line-height: 41px;
	color: #FFFFFF;
	text-align: center;
	font-size: 34px;
	font-family: museo-sans, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 160px;
}

#u3232
{
	font-size: 34px;
}

#u3232-2
{
	font-size: 34px;
	font-family: museo-sans, sans-serif;
	font-weight: 100;
}

#pu3247
{
	width: 0.01px;
	margin-top: 23px;
}

#u3247
{
	z-index: 11;
	width: 192px;
	-pie-box-shadow: none;
	box-shadow: 0px 8px 8px rgba(0,0,0,0.1);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3241
{
	z-index: 9;
	width: 729px;
	-pie-box-shadow: none;
	box-shadow: 0px 8px 8px rgba(0,0,0,0.1);
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 221px;
}

#u3241 .clip_frame
{
	-webkit-border-radius: 10px 10px 10px 10px;
}

body
{
	position: relative;
	min-width: 950px;
}

#page .verticalspacer
{
	clear: both;
}

